@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
  font-family: Inter;
}
.container {
  width: 100%;
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  font-size: 50px;
  h2 {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 6%;
  }
}

.loading,
iframe {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  backdrop-filter: blur(10px);
}
iframe {
  padding-top: 0px;
  padding-left: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 200px;
  height: 200px;
}

@import "./components/footer.scss";
@import "./components/navbar.scss";
@import "./pages/about.scss";
@import "./pages//contact.scss";
@import "./pages/home.scss";
@import "./pages/project.scss";
@import "./components/hero.scss";
