.contact {
  padding: 150px 0px 50px;
  background: url(https://www.rammaheshwari.com/assets/svg/common-bg.svg)
    no-repeat;
  background-position: center;
  background-size: cover;
  .contact__content {
    display: flex;
    padding: 10px;
    margin: auto;
    border: 2px solid #7843e9;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    @media only screen and (min-width: 650px) {
      padding: 50px 20px 50px;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .input__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          border: none;
          outline: none;
          border: 2px solid #ddd;
          height: 55px;
          background-color: transparent;
          padding-left: 20px;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 400;
        }
        textarea {
          border: none;
          outline: none;
          border: 2px solid #ddd;
          background-color: transparent;
          padding: 20px 20px;
          height: 150px;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 400;
        }
      }
      .form__btn {
        display: flex;
        justify-content: flex-end;
      }
      .contact__btn {
        display: flex;
        width: 100%;
        height: 40px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0%;
        background-color: #7843e9;
        @media only screen and (min-width: 650px) {
          font-size: 16px;
          height: 50px;
          max-width: 200px;
        }
      }
    }
  }
}
