.contact {
  padding: 100px 0px 50px;
  background: url(https://www.rammaheshwari.com/assets/svg/common-bg.svg)
    no-repeat;
  background-position: center;
  background-size: cover;
  .contact__content {
    display: flex;
    padding: 100px 20px 50px;
    // align-items: center;
    // justify-content: center;
    margin: auto;
    border: 2px solid #7843e9;
    width: 100%;
    max-width: 600px;
    // height: 600px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    .input__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .form__input {
        width: 550px;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0%;
      }
      .form__placeholder {
        width: 550px;
        height: 150px;
        border-radius: 5px;
        outline: none;
        padding: 20px 10px;
        border: 2px solid #ddd;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        background-color: transparent;
      }
      .form__placeholder:focus {
        border: 2px solid #1976d2;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .contact__btn {
        width: 100%;
        max-width: 150px;
        height: 50px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0%;
        background-color: #7843e9;
      }
    }
  }
}
