.project {
  padding: 50px 0px 50px;
  @media only screen and (min-width: 600px) {
    padding: 150px 0px 50px;
  }
}
.swipper__wrapper {
  .img__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    gap: 20px;
    a {
      border-radius: 5px;
      color: rgb(78, 78, 201);
      font-weight: 400;
      font-size: 18px;
    }
    img {
      margin: auto;
      border-radius: 10px;
      width: 100%;
      // height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: contain;
      @media only screen and (min-width: 600px) {
        object-fit: contain;
        height: 600px;
      }
    }
  }
}
.project__wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
