.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 300px 0px 200px;
  background: url(https://www.rammaheshwari.com/assets/svg/common-bg.svg)
    no-repeat;
  background-position: center;
  background-size: cover;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    h1 {
      color: 111111;
      font-family: Inter;
      font-size: 60px;
      font-weight: 800;
      line-height: 64px;
      letter-spacing: 6%;
    }
    p {
      color: rgb(0, 0, 0);
      font-family: Inter;
      width: 100%;
      max-width: 800px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0%;
    }
    .hero__btn {
      border-radius: 5px;
      width: 100%;
      max-width: 300px;
      height: 60px;
      background-color: #7843e8;
      font-family: Inter;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }
  }
  .network__wrapper {
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
    background-color: white;
    padding: 10px;
    img {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }
  }
}
