.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0px 100px;
  background: url(https://www.rammaheshwari.com/assets/svg/common-bg.svg)
    no-repeat;
  background-position: center;
  background-size: cover;
  @media only screen and (min-width: 1000px) {
    padding: 300px 0px 200px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    h1 {
      color: 111111;
      font-family: Inter;
      font-size: 40px;
      text-align: center;
      font-weight: 800;
      letter-spacing: 6%;
      @media only screen and (min-width: 1000px) {
        line-height: 64px;
        font-size: 60px;
      }
    }
    p {
      color: rgb(0, 0, 0);
      font-family: Inter;
      width: 100%;
      max-width: 800px;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0%;
      @media only screen and (min-width: 1000px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .hero__btn {
      border-radius: 5px;
      width: 100%;
      max-width: 300px;
      height: 50px;
      background-color: #7843e8;
      font-family: Inter;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;
      @media only screen and (min-width: 1000px) {
        font-size: 20px;
        height: 60px;
      }
    }
  }
  .network__wrapper {
    position: absolute;
    left: 0;
    border-radius: 0px 5px 5px 0px;
    display: none;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding-left: 10px;
    padding: 10px;
    background-color: white;
    padding: 15 px;
    @media only screen and (min-width: 1000px) {
      display: flex;
    }
    img {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }
  }
}
